/* Place your CSS styles in this file */
body {background-color: powderblue;}
h1 {font-family: "Andalé Mono", monospace;}
h2, p {font-family: "Georgia", sans-serif;}
table, th, td {border: 1px solid black; border-collapse: collapse;}
th, td {font-family: "Georgia", sans-serif;}
